node_modules/
npm-debug.log*
yarn-error.log*
dist/
coverage/

ios/Pods/
ios/Podfile.lock
ios/build/
*.xcworkspace/xcuserdata/
DerivedData/

android/.gradle/
android/app/build/
android/build/

.expo/
.DS_Store
